/******************************************************************
Site Name: Corey Margulis Portfolio
Author: Corey Margulis

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html, body {
	  overflow-x: hidden;
	  
/*
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
*/
}

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.4;
	color: $text-color;
	background-color: $light-gray;
    -webkit-font-smoothing: antialiased;
  	overflow-x: hidden;
  	transition: 1s;
  	
  	/*
perspective: 1px;
  	transform-style: preserve-3d;
  	overflow-y: auto;
*/
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
PAGE TRANSITION
*********************/

/* as long as next post is not fully loaded, it's hidden */
.post.hidden { 
  display: none
}
 
/* next post is loaded but its content is hidden */
.post.content-hidden .content { 
  display: none
}
 
/* class for next post becoming current post */
.easing-upward {
  -webkit-transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

.menu-wrap {
	width: 100%;
	height: 100%;
}

.alt {
  position: relative;
  background: $process;
  padding-top: 3em !important;
  padding-bottom: 3em !important;
  color: $white !important;

	&:before, &:after {
	   content: "";
	   position: absolute;
	   background: $process;  /* Match the background */
	   top: 0;
	   bottom: 0;
	   width: 9999px;   /* some huge width */
	   display: block;
	   } 
	&:before {
		right: 100%; 
	  	}
	&:after {
		left: 100%;
		}
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: normal;
	
		a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-family: $serif;
	font-size: 1.5em;
	line-height: 1.333em;
	margin: 0 0 .25em 0;
}

h2, .h2 {
	font-family: $serif;
	font-size: 1.85em;
	line-height: 1.185em;
	margin-top: 0em;
	margin-bottom: 0em;
}

h3, .h3 {
	font-family: $serif;
	font-size: 1.25em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.logo-container {
	position: absolute;
	top: 15px;
	width: 100%;
	padding-top: 0px;
	background: none;
	z-index: 1000;
	overflow: hidden;
}

#logo {
	width: 200px;
	padding: 20px 35px;
	display: block;
	/* position: relative; */
	margin: 0 auto;
	text-align: center;
	font-size: .9em;
}
.active {
	opacity: 1;
}

.test {
	height:40px;
	position: fixed;
	top:0;
	transition: top 0.2s ease-in-out;
	width: 50px;
	background: green;
	opacity: 0;
}



.nav-up {
	top: -40px;
}

/*********************
NAVIGATION STYLES (HOMEPAGE)
*********************/
#background {
	visibility: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: -1000;
	/* background-image: url('https://dl.dropboxusercontent.com/u/13041969/strawberries.png'); */
	opacity: .25;
	
	}

nav {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	display: table;
	z-index: -100;

	ul {
		width: 100%;
		padding: 0;
		display: table-cell;
		vertical-align: middle;
		transition: 1s;
	}
	
	li {
		text-align: center;
		line-height: 1.45;
		margin: 0 auto;

		a {
			font-family: $serif;
			font-size: 32px;
			text-rendering: optimizelegibility;
			display: block;

		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end nav */

/* about */
.profile-link-wrapper {
	position: fixed;
	bottom: 15px;
	width: 100%;
	padding-top: 0px;
	background: none;
	z-index: 1000;
	overflow: hidden;

	.profile-link {
		width: 150px;
		padding: 20px 35px;
		display: block;
		position: relative;
		margin: 0 auto;
		text-align: center;
		font-size: .9em;
		color: $gray;
	}

}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($black, .9);
	z-index: 9999;

	a {
		color: $white;
		&:hover, &:focus {
			color: darken($white, 20%);
		}
	}

	.overlay-close-container {
		position: absolute;
		display: block;
		width: 44px;
		height: 44px;
		bottom: 35px;
		left: 50%;
		margin-left: -25px;
		text-align: center;

		.overlay-close {
			color: $white;
			font-size: 1em;

			position: absolute;
			width: 44px;
			height: 44px;

			overflow: hidden;
			border: none;
			background: url(../../library/images/cross.svg) no-repeat center center;
			background-size: 32px 32px;
			top: 0;
			right: 0;
			text-indent: 200%;
			color: transparent;
			outline: none;
		}
	}

	.profile {
		text-align: center;
		color: darken($white, 20%);
		position: relative;
		top: 20%;
		height: 50%;
		width: 248px;
		margin: 0 auto;
		transform: translateY(-50%);
	}
	
}

.overlay-slidedown {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
	/*transform: translateY(100%);
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;*/
	.profile {
		opacity: 0.4;
    	transform: translateY(-10%) rotateX(15deg);
    	transition: transform 0.5s, opacity 0.5s;
	}	
}

.overlay-slidedown.open {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
	/*\transform: translateY(-0%);
	transition: transform 0.4s ease-in-out;*/
	.profile {
		opacity: 1;
		transform: rotateX(0deg);
	}
} 

.overlay-slidedown.close {
	.profile {
		transform: translateY(10%) rotateX(-15deg);
	}
}
/* end about */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	
position: relative;
	/*
top: 60%;
	background-color: $white;
*/
a {
			&:hover, &:focus {
				
				}
		}
}

.hero-image-container {
	/* height: 70%; */
	height: 520px;
	
	.hero-image {
		position: relative;	
		background-size: cover;
		background-repeat: no-repeat; 
		background-position: 50% 50%;
		overflow: hidden;
		width: 100%; 
	 	height: 100%;  	
	}

	.hero-image-caption {
		font-size: .75em;
		color: $white;
		opacity: .5;
		max-width: 740px;
		margin: 0 auto;
		position: relative;
		top: -30px;
		text-align: right;
		padding-right: 1.5em;
	}

	@media screen and ( max-height: 700px ) and (min-width: 481px){
        height: 400px;
    }   
    @media screen and ( max-height: 700px ){
        height: 300px;
    }

}

.next-project {
	text-align: center;
	color: $white;
	padding: 4em 15% 4.25em 15%;
	margin-top: 6em;
	transition: all .4s ease-in-out;
	
	&:hover {
		opacity: 1 !important;
		
	}
	
	#next-project {
		margin-bottom: 20px;
	}
	h3 {
		margin: 0px;
	}
}

.hentry {
	header {
			margin: 1.5em auto 1.5em;
			padding: 0 1.5em 0 1.5em;
	}

	footer {
		padding: 6em 3em;
		color: $white;
		position: relative;
		
		&:before, &:after {
		   content: "";
		   position: absolute;
		   /* background: white; */  /* Match the background */
		   top: 0;
		   bottom: 0;
		   width: 9999px;   /* some huge width */
		   display: block;
		   } 
		&:before {
			right: 100%; 
		  	}
		&:after {
			left: 100%;
			}
			
		p {
			margin: 0;
			
		}
		
		h3 {
			margin: 0;
		}
		
		#next-project {
				margin-bottom: 20px;
		}
		
	}

			
		} /* end .hentry */

.single-title,
.page-title,
.entry-title {}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}

/* entry content */
.entry-content {
	margin: 1.5em auto 3em;
	padding: 0 1.5em 0 1.5em;

	p, h3 {
		max-width: 740px;
	}
	p {
		margin: 0 auto;
		padding-bottom: 1.5em;
	}
	h3 {
		margin: 1.75em auto 0.75em;		
	}
	
	.media {
		margin: 1.5em 0 3em 0;
		ul, ol {
			list-style-type: none;
			padding-bottom: 0;
			max-width: 100%;
		}
		.caption {
			font-size: .75em;
			color: lighten($text-color, 40%);
			max-width: 740px;
			margin: 0 auto;
		}
		
		/* video */

	.embed-container { 
		position: relative; 
 		padding-bottom: 71%;  
		height: 0; 
		overflow: hidden; 
		max-width: 100%; 
		height: auto; 
		margin-bottom: .5em;
		} 
	.embed-container iframe, .embed-container object, .embed-container embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		}	
	.player .title {
		display: none;
		}	
	}

	ul, ol, table, dl {}

	ul, ol {

		margin: 0 auto;
		padding-bottom: 1.5em;
		max-width: 740px;

		li {}

	}

	ul {
		
		list-style-type: disc;

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

	.flex-container {
		max-width:740px;
		margin:0 auto;

		ul, ol {
			
		}
	}

} /* end .entry-content */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

#test {
	position: fixed;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	background-color: green;
}

.logo-container--unpinned {
	display: none;
	transform: translateY(-100%);
}

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

/*********************
FLEX CONTAINER STYLES
*********************/
	
