/******************************************************************
Site Name:
Author:

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/


body.login {
	font-family: "Minotaur Sans", Helvetica, Arial, sans-serif;
	background-color: #efefef;
	color: #3b3b3b;
}


#login {
	padding: 12% 0 0;
} /* the form box */

.login h1 a {
	// background: url(../images/login-logo.png) no-repeat top center; /* make sure to replace this! */
	// width: 326px;
	// height: 67px;
	// text-indent: -9999px;
	// overflow: hidden;
	// padding-bottom: 15px;
	display: none;
}

.login label {
	font-weight: 100;
}

.login form {
	padding: 28px 24px 32px 24px;
	font-weight: normal;
	background: white;
	// border: none;
	// border-radius: none;
	// box-shadow: none;
}

.login form .input, .login input[type=text] {
	padding: 12px;
	padding-top: 16px;
	background-color: none;
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
	border: none;
	border-bottom: 1px solid transparentize(#3b3b3b, .75);
	font-family: "Minotaur", sans-serif;
	font-weight: 900;
	//background: #fff;

	&:focus {
		border-bottom: 1px solid #3b3b3b;
		box-shadow: none;
	}
}

body form .input {
	// font-family: "Minotaur Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	// font-weight:100;
	font-size: 24px;
	width: 97%;
	padding: 4px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 0 0 1px 0 solid #efefef;
	background: #FBFBFB;
	outline: none;
	box-shadow: none;
}

p#backtoblog, p#nav, p.forgetmenot {
	display: none;
}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/

.submit {
	margin-top: 20px !important;
}

#wp-submit {
	height: 58px;
	width: 270px;
	font-size: 16px;
	font-weight: 100;
	line-height: 28px;
	text-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	background: #3b3b3b;
	padding: 0 20px 0px;

	&:hover {
		background: darken(#3b3b3b, 10%);
	}

} /* login button*/
