/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

@import "susy";
@import "vendors/breakpoint";

@import "variables/_breakpoints";
@import "variables/_normalize";
@import "variables/_colors";
@import "variables/_typography";
@import "variables/_functions";
@import "variables/_mixins";
@import "variables/_grid";

@import "base/_body";
@import "base/_layout";
@import "base/_media";
@import "base/_typography";

@import "components/_buttons";
@import "components/_image-hero";
@import "components/_navigation";

@import "layout/_about";
@import "layout/_footer";
@import "layout/_header";
@import "layout/_home";
@import "layout/_project";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/



/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//        only screen and (min--moz-device-pixel-ratio: 1.5),
//        only screen and (min-device-pixel-ratio: 1.5) {
//
// 	// styles in 2x.scss
// 	@import "breakpoints/2x";
//
// } // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "variables/_print";

}
