.menu {
		position: fixed;
		top: 15px;
		z-index: 1000;
	}

#logo {
	position: fixed;
	display: block;
	left: 0;
	font-family: $sans-regular;
	z-index: 1000;
	font-size: 16px;
	padding: 25px 20px;

	@include breakpoint($bp-medium) {
		padding: 25px 35px;
		font-size: 18px;
	}
}

.link {
	position: fixed;
	display: block;
	padding: 20px 35px;
	top: 15px;
	right: 0;
	font-family: $sans-regular;
	font-size: .85em;
	z-index: 1000;
}

.hentry header {
	margin: 1.5em 1.25em 0;

	@include breakpoint($bp-medium) {
		margin: 3em auto 0;
	}
}
