.intro {
  width: 100%;
  padding: 35px;
  padding-top: 60px;
  margin-bottom: 2em;
  z-index: 0;

  @include breakpoint($bp-medium) {
    max-width: 860px;
    padding-top: 4em;
  }
  @include breakpoint($bp-large) {
    max-width: 1030px;
  }

  h1 {
    font-family: $serif;
    font-size: 20px;
    margin-bottom: .5em;
    padding: 0;
    max-width: 100%;

    @include breakpoint($bp-small) {
      font-size: 28px;
    }
    @include breakpoint($bp-medium) {
      font-size: 40px;
    }
    @include breakpoint($bp-large) {
      font-size: 40px;
    }
  }
  h2 {
    font-size: 16px;
    -webkit-font-smoothing: auto;
    padding: 0;
    max-width: 100%;
    a {
      border-bottom: 1px solid transparentize($link-color, .7);
      padding-bottom: 2px;
      transition: all .3s ease-out;
      &:hover {
        border-color: $link-color;
      }
    }
  }
}

.menu-wrap {
  width: 100%;
  position: relative;
  z-index: 1001;
  // background: darken($color-background, 4%);

  // margin-top: 380px;
  @include breakpoint($bp-medium) {
    // margin-top: 560px;
  }
}

nav {
	// height: 100%;
	// width: 100%;
	// position: absolute;
	// top: 0px;
	// display: table;
	// z-index: -100;

  // a {
  //   &:hover {
  //     background: #fff;
  //   }
  // }

	ul {
		width: 100%;
    max-width: 100%;
		padding: 0;
	}

	li {
    text-align: left;
		line-height: 1.45;
    border-bottom: 1px solid $color-border;
    text-rendering: optimizelegibility;
  	-webkit-font-smoothing: auto;
    list-style: none;

    &:first-child {
      border-top: 1px solid $color-border;
    }

    a {
      display: block;
      padding: 35px;
      padding-bottom: 38px;

      transition: all .6s ease-out;
      -webkit-transition: all .6s ease-out;

      &:hover {
        background: transparentize($white, .9);
      }
    }

		.project-title {
      font-family: $serif-bold;
      font-size: 20px;
			display: block;

			@include breakpoint($bp-medium) {
				font-size: 24px;
				line-height: 1.5em;
			}
			@include breakpoint($bp-large) {
			}
		}

		.project-tagline {
			font-family: $serif;
      font-size: 16px;
		}

	} /* end .menu li */

} /* end nav */

#background {
	visibility: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: -1000;
	opacity: .25;
}

.footer {
  font-family: $sans-light;
  font-size: 12px;
  padding: 35px;
  padding-top: 50px;
}
