#content {
	z-index: 2;
	position: relative;

	/* entry content */
	.entry-content {
		margin: 1.5em auto 3em;
		padding: 0;

		p {
			margin-bottom: 1.5em;
			a {
				border-bottom: 1px solid transparentize($link-color, .7);
	      padding-bottom: 2px;
	      transition: all .3s ease-out;
	      &:hover {
	        border-color: $link-color;
	      }
			}
		}
		h3 {
			margin: 1.75em auto 0.75em;
		}

		ul, ol {
			margin: 0 auto;
			padding-bottom: 1.5em;
		}

		ul {
			list-style-type: disc;
			padding-left: 1em;
		}

		blockquote {
			margin: 0 0 1.5em 0.75em;
			padding: 0 0 0 0.75em;
			font-style: italic;
			color: $color-text-light;

			&:before {}

		}

		dl {}

		dt {}

		dd {
			margin-left: 0;
			font-size: 0.9em;
			color: #787878;
			margin-bottom: 1.5em;
		}

		img {
			margin: 0;
			max-width: 100%;
			height: auto;
		}

		// pre {
		// 	background: $black;
		// 	color: $light-gray;
		// 	font-size: 0.9em;
		// 	padding: 1.5em;
		// 	margin: 0 0 1.5em;
		// 	border-radius: 3px;
		// }

		.flex-container {
			max-width:740px;
			margin:0 auto;
		}

	} /* end .entry-content */

}

.drop-shadow-slider {
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
	box-shadow: 2px 2px 10px rgba(0,0,0,.2);

	margin-bottom: 10px !important;
}

.drop-shadow {
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
	-o-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
	box-shadow: 2px 2px 10px rgba(0,0,0,.2);

	margin-bottom: 5px !important;
}
