.hero-image-container {
  height: 40vh;

  @include breakpoint($bp-medium) {
    height: 60vh;
  }

  .hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .hero-image-caption {
    font-size: .75em;
    color: $white;
    opacity: .5;
    max-width: 740px;
    margin: 0 auto;
    position: relative;
    top: -30px;
    text-align: right;
    padding-right: 1.5em;
  }

  @media screen and ( max-height: 700px ) and (min-width: 481px){
    height: 400px;
  }
  @media screen and ( max-height: 700px ){
    height: 300px;
  }
}
