#background {
	visibility: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: -1000;
	/* background-image: url('https://dl.dropboxusercontent.com/u/13041969/strawberries.png'); */
	opacity: .25;

	}

nav {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	display: table;
	z-index: -100;

	/*-webkit-animation: fade-in .8s ease;
	animation: fade-in .8s ease;*/

	ul {
		width: 100%;
		padding: 0;
		display: table-cell;
		vertical-align: middle;
		transition: 1s;
	}

	li {
		text-align: center;
		line-height: 1.45;
		margin: 0 auto;

		a {
			font-family: $serif;
			font-size: 32px;
			text-rendering: optimizelegibility;
			display: block;

		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end nav */
