#colorblock {
	position: fixed;
	width: 100%;
	height: 100%;

	z-index: 1;
	-webkit-animation: fade-in 1s ease-in reverse;
    -webkit-animation-fill-mode: forwards;

    animation: fade-in 1s ease-in reverse;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*********************
PAGE TRANSITION
*********************/

/* as long as next post is not fully loaded, it's hidden */
.post.hidden {
  display: none
}

/* next post is loaded but its content is hidden */
.post.content-hidden .content {
  display: none
}

/* class for next post becoming current post */
.easing-upward {
  -webkit-transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition:all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
