$sans-regular:     "Minotaur Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-light:       "Minotaur Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:            "Minotaur Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-bold:       "Minotaur Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;




@font-face {
    font-family: 'Minotaur Light';
    src: url('../fonts/minotaurweb-light.eot');
    src: url('../fonts/minotaurweb-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minotaur Bold';
    src: url('../fonts/minotaurweb-bold.eot');
    src: url('../fonts/minotaurweb-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minotaur Sans Light';
    src: url('../fonts/minotaursansweb-light.eot');
    src: url('../fonts/minotaursansweb-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minotaur Sans Regular';
    src: url('../fonts/minotaursansweb-regular.eot');
    src: url('../fonts/minotaursansweb-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
