.wrap {
	width: 100%;
	padding: 0px 30px;

	position: relative;
	background-color: $color-background;
	z-index: 9999;

	@include breakpoint($bp-medium) {
		padding: 0;
	}
}

h1, h2, h3, h4, p, ul, .inset-container {
	width: 100%;
	margin: 0 auto;

	@include breakpoint($bp-medium) {
		max-width: 730px;
	}
}

.text {
	margin-bottom: 3em;
}

.inset-container {
	margin: 2em auto 3.5em auto;

	@include breakpoint($bp-medium) {
		display: table;
		.inset-text {
			width: 50%;
			float: left;
		}
	}
}

.alt {
  position: relative;
  // padding-top: 4em !important;
  // padding-bottom: 4em !important;
	margin-bottom: 0;
	margin-top: 0;

	&:before, &:after {
	   content: "";
	   position: absolute;
	   background: inherit;  /* Match the background */
	   top: 0;
	   bottom: 0;
	   width: 9999px;  /* some huge width */
	   display: block;
	   }
	&:before {
		right: 100%;
	  	}
	&:after {
		left: 100%;
		}
}

.alt-pool {
  position: relative;
  background: #39a7fb;
  padding-top: 3em !important;
  padding-bottom: 1em !important;
	margin-bottom: 0;
	margin-top: 4em !important;

	&:before, &:after {
	   content: "";
	   position: absolute;
	   background: #39a7fb;  /* Match the background */
	   top: 0;
	   bottom: 0;
	   width: 9999px;  /* some huge width */
	   display: block;
	   }
	&:before {
		right: 100%;
	  	}
	&:after {
		left: 100%;
		}
}
