.wp-video .mejs-container .mejs-controls {
    visibility: hidden;
}

.wp-video {
  margin: 0 auto;
}

.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
    background: none !important;
}

.media {
  max-width: 100%;
  margin: 2em auto 3.5em auto;
	text-align: center;

  .caption {
    max-width: 730px;
    margin: 0 auto;
  }

  &.inset {
		@include breakpoint($bp-medium) {
			width: 50%;
			margin-top: 0;
      margin-bottom: 0;

			&.left {
				float: left;
				text-align: left;
				padding-right: 40px;
			}
			&.right {
				float: right;
				text-align: right;
				padding-left: 40px;
			}
		}
  }

	&.inset-center {
		text-align: center;

    @include breakpoint($bp-medium) {
  		max-width: 730px;
  	}
  }

  &.outset {
		text-align: center;

    @include breakpoint($bp-medium) {
  		max-width: 730px;
  	}
  	@include breakpoint($bp-large) {
  		width: 1030px;
      max-width: 80%;
  	}
  }

  &.fill-width {
    width: 100%;
    max-width: 1400px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

	ul, ol {
		list-style-type: none;
		padding-bottom: 0;
		max-width: 100%;
	}

  /* video */
  .embed-container {
    position: relative;
    height: 0;
    height: auto;
    overflow: hidden;
    padding-bottom: 71%;
    margin-bottom: .5em;

    // @include breakpoint($bp-medium) {
  	// 	max-width: 730px;
  	// }
  	// @include breakpoint($bp-large) {
  	// 	width: 1030px;
    //   max-width: 80%;
  	// }
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .player .title {
    display: none;
  }
}

.video-wrap {
  margin: 0 auto;

  @include breakpoint($bp-medium) {
    max-width: 730px;
  }
  @include breakpoint($bp-large) {
    width: 1030px;
    max-width: 80%;
  }
}
