body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5em;
  -webkit-font-smoothing: antialiased;

  @include breakpoint($bp-medium) {
    font-size: 1.25em;
    // line-height: 1.75em;
  }
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	@include breakpoint($bp-medium) {
    &:hover, &:focus {
  		color: $link-hover;
  	}
  }

	&:active {
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: normal;

		a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-family: $sans-regular;
	font-size: 30px;
	line-height: 1.45em;
}

h2, .h2 {
	font-family: $serif;
	font-size: 30px;
	line-height: 1.6em;

  @include breakpoint($bp-medium) {
    // font-size: 2.35em;
    // line-height: 1.25em;
  }
}

h3, .h3 {
	font-family: $sans-regular;
	font-size: 22px;
}

h3.project {
	font-family: $sans-regular;
	font-size: 22px;
}

p, ul {
  // font-size: .9em;
	font-size: 16px;
	line-height: 1.85em;
	-webkit-font-smoothing: auto;

	// -ms-word-break: break-all;
  // -ms-word-wrap: break-all;
  //    word-break: break-word;
  // // cleaning up the ragged lines and breaks
  // -webkit-hyphens: none;
  //     -moz-hyphens: none;
  //     -ms-hyphens: none;
  //     hyphens: none;
  // // sets a minimum number of characters before and after the break
  // -webkit-hyphenate-before: 5;
  //  -webkit-hyphenate-after: 5;
  //          hyphenate-lines: 1;
  // // enabling fancy ligatures when available
  // -webkit-font-feature-settings: "liga", "dlig";
  //  -moz-font-feature-settings: "liga=1, dlig=1";
  //     -ms-font-feature-settings: "liga", "dlig";
  //      -o-font-feature-settings: "liga", "dlig";
  //         font-feature-settings: "liga", "dlig";
}

.caption {
	font-size: .6em;
	line-height: 1.65em;
	font-family: $sans-light;
	-webkit-font-smoothing: antialiased !important;
	color: $color-text-light;
	text-align: left !important;
}
